* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;
}

.header {
    padding: 20px 0;
}

.burger {
    max-width: 40px;
    cursor: pointer;
    display: none;
    z-index: 11;

    @media (max-width: 990px) {
        display: block;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.search {
    max-width: 470px;
    width: 100%;
    padding: 16px 24px;
    padding-left: 60px;
    border-radius: 60px;
    border: 1px solid #E5E5EA;
    background-image: url(./icon/search.svg);
    background-repeat: no-repeat;
    background-position: 20px;

    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.219);


    &:focus {
        outline: none;
    }

    @media (max-width: 1111px) {
        max-width: 250px;
    }
}

.menu {
    display: flex;
    gap: 30px;

    a {
        color: black;
        text-decoration: none;
    }

    @media (max-width: 990px) {
        /* display: none; */
        transition: all 0.5s;
        position: fixed;
        width: 100%;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.547);
        backdrop-filter: blur(15px);
        top: 0;
        right: -100%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;

        a {
            color: white;
        }
    }
}

.thunder {
    padding: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid #e5e5ea;
    border-radius: 50%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.219);
    cursor: pointer;

    @media (max-width: 700px) {
        display: none;
    }
}

.btn {
    background: #007AFF1F;
    border: none;
    padding: 16px;
    border-radius: 30px;
    color: #007AFF;
    cursor: pointer;

    @media (max-width: 700px) {
        display: none;
    }
}

.open {
    right: 0;
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 20px;

    @media (max-width:777px) {
        grid-template-columns: 1fr;
    }
}

.hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hero__box {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.219);
    gap: 20;

    border-radius: 20px;
    padding: 40px;

    @media (max-width:777px) {
        padding: 30px;
    }

    .img {
        width: 100%;
    }

    button {
        background-color: #007AFF;
        color: white;
        text-align: center;
        border-radius: 45px;
        border: none;
        cursor: pointer;
        margin-top: 70px;
        padding: 15px;
    }

    a {
        color: #007AFF;
        text-decoration: none;
        text-align: center;
        margin-top: 20px;
    }
}

.Live {
    margin-top: 90px;

    h2 {
        margin-bottom: 40px;
    }

    @media (max-width:1535px) {
        text-align: center;
    }
}

.live__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .live__img {
        position: relative;
        img {
            position: relative;
        }

        p {
            position: absolute;
            top: 20px;
            right: 20px;
            border-radius: 20px;
            padding: 10px 12px;
            background-color: #FFFFFF99;
            box-shadow: 0px 10px 30px 0px #05103726;

            

        }
    }

    @media (max-width:1535px) {
        flex-wrap: wrap;
    }

    


    .live__title {
        margin: 20px;
    }

    .live__cardimg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top: 20px;
    }


    .card {
        border: 1px solid #E5E5EA;
        border-radius: 20px;
    }

    p {
        font-size: 16px;
    }

    .p2 {
        text-align: right;
    }

    .live__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .live__ava {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.Featured {
    margin-top: 90px;
    

    

    @media (max-width:1535px) {
        text-align: center;
    }

    .btn {
        display: flex;
        justify-content: center;
        background-color: #fff;
    }

    button {
        background-color: #fff;
        margin-top: 60px;
        padding: 16px 64px;
        border: 1px solid #1c1a1a36;
        border-radius: 20px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 80;
    }
}

.featured__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 90px;

    @media (max-width:1535px) {
        display: flex;
        flex-wrap: wrap;
    }


    .live__title {
        margin: 20px;
    }

    .live__cardimg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top: 20px;
    }


    .card {
        border: 1px solid #E5E5EA;
        border-radius: 20px;
        width: max-content;
    }

    p {
        font-size: 16px;
    }

    .p2 {
        text-align: right;
    }

    .live__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .live__ava {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.topCreators{
    h1{
        font-size: 28px;
    }

    @media (max-width:1535px) {
        text-align: center;
    }
}

.topCreators__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;

    @media (max-width:1535px) {
        display: flex;
        flex-wrap: wrap;
    }

}

.topCreators__card{
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    max-width: 312px;
    width: 100%;
    margin: 30px;
    height: max-content;
}

.topCreators__card2{
    padding: 16px;
}

.topCreators__title{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    .topCreators__img{
        width: 56px;
    }
}

.topCreators__title2{
    text-align: end;

    .topCreators__title3{
        display: flex;
        justify-content: start;
        gap: 5px;
    }

    p{
        font-size: 16px;
        color: #3C3C4399;
        max-width: 200px;
        text-align: start;
        margin-top: 15px;
    }
}

.topCreaters__end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 80px;

    button{
        padding: 8px 16px;
        color: white;
        background-color: #007AFF;
        border: none;
        border-radius: 15px;
    }

}

.footer {
    margin-top: 170px;
    margin-bottom: 0;
    background-color: black;
    padding-bottom: 35px;

    h3 {
        color: white;
        font-size: 20px;
    }

    h4 {
        color: #EBEBF599;
        font-size: 20px;
        font-weight: 72;
    }

    p {
        color: #EBEBF599;
        font-size: 16px;
    }

    b {
        color: white;
        font-size: 24px;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(128, 128, 128, 0.514);
    padding-bottom: 60px;
    padding-top: 40px;

    .footer__search {
        margin-top: 25px;

        input {
            width: 250px;
            border: none;
            padding: 18px 24px;
            background-color: #2C2C2E;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;

            &:focus {
                outline: none;
            }
        }

        button {
            padding: 18px 12px;
            border: none;
            background-color: #007AFF;
            color: white;
            border-radius: 20px;
            margin-left: -30px;
        }
    }

    @media (max-width:800px) {
        display: grid;
        grid-template-columns: 1, 5fr 1fr 1fr;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}

.footer__wrapper2 {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__box4 {
        display: flex;
        align-items: center;
        gap: 60px;
    }

    @media (max-width:600px) {
        flex-direction: column;
        gap: 20px;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.493);
    backdrop-filter: blur(10px);

    /* display: none; */

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 12;
}

.modal__box {
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 50px;
    border: 1px solid black;

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.493);

    h6 {
        text-align: right;
        font-size: 26px;
        cursor: pointer;
        width: max-content;
        margin-left: auto;
    }

    form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        input,
        button {
            padding: 15px;
            border-radius: 15px;
        }
    }
}

.open-modal {
    display: flex;
    opacity: 1;
    visibility: visible;
}